*{
  background-color: cyan;
  text-align: center;
}



 Header {
  background:#333;
  display: flex;
  justify-content: end;
  padding: 10px 0;
  color: #fff;
} 
.navbar{
  /*background-color: blanchedalmond;*/
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.login{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 200px;
  border: 2px solid;
  height: 300px;
  width: 500px;
  margin-left: 50%;
  margin-right: 50%;


}